labs-testing/kathara-lab_discovery-type_1/ export-ignore
labs-testing/kathara-lab_discovery-type_2/ export-ignore
labs-testing/kathara-lab_discovery-type_3/ export-ignore
labs-testing/kathara-lab_discovery-type_4/ export-ignore
labs-testing/kathara-lab_vulhub-apache-cxf/ export-ignore
